# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
.venv
venv/
ENV/
*.egg-info/
.env

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
*.tsbuildinfo

# IDE / OS
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/
